.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.titleContainer {
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-family: "sfuiSemibold", serif;
    border-radius: 0px 10px 10px 0px;
    background-color: #1B4C82;
    padding: 5px;
    margin: 5px;
}

.titleComponent {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 7px;
    color: #0064ac;
    font-family: "sfuiMedium", serif;
}

.valueComponent {
    font-size: 18px;
    text-align: center;
    color: white;
    width: 60%;
    text-transform: lowercase;
    font-family: "sfuiMedium", serif;
}

.basicContainerStyle {
    position: relative;
    background-color: #FFFFFF;
}

.containerNoBorder {
    border-radius: 10px;
    height: 100%;
}

/* <= 1500 */
@media only screen and (max-width: 1500px) {
    .titleContainer {
        font-size: 13px;
        text-transform: uppercase;
        float: left;
        font-family: "sfuiSemibold", serif;
        color: #fff;
        border-radius: 0px 10px 10px 0px;
        background-color: #1B4C82;
        padding: 5px;
        margin: 5px;
    }

    .titleComponent {
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #0064ac;
        font-family: "sfuiMedium", serif;
    }

    .valueComponent {
        font-size: 15px;
        text-align: center;
        color: white;
        width: 60%;
        text-transform: lowercase;
        font-family: "sfuiMedium", serif;
    }
}

/*margins for mobile*/
@media only screen and (max-width: 600px) {
    .next-container {
        margin-top: 20px !important;
    }
}
